*{
    margin : 0;
    padding : 0;
    box-sizing : borderbox;
}
.leftside{
    padding-left : 0px;
    flex : 0.8;
    background-color: black;
        color : white;
    /* padding-left : 1rem; */
    padding-top : 0;
    text-align : center;
    height : auto;
    align-items : center;
    width : 100%;
    border-right : 1px solid white;
    padding-bottom : 0rem;
    border-bottom : 1px solid white;
    border-radius : 1rem;

    /* padding-left : 1rem; */
    

}

.home{
    font-size : 0.8rem;
    /* background-color : red; */
    margin-left : 0.5rem;
    margin-bottom : 0.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius : 30px;
    font-weight : bold;
    padding-top : 0.3rem;
    padding-bottom : 0.3rem;
    
}

.home:hover{
    background-color : rgb(12,74,110);
}

.listItems li{
    border-top-left-radius: 30px;
    border-bottom-left-radius : 30px;
    /* margin-left : 0.5rem; */
    font-size : 0.8rem;
    margin-bottom : 0.3rem;
    padding-top : 0.3rem;
    padding-bottom : 0.6rem;
    font-weight : bold;
    display : flex;
    align-items : center;
    justify-content : center;
    margin:15px auto;
    /* text-align: center; */
    /* padding-left: 0.5rem; */
    padding-right : 0;

    

}
.listItems li{
    text-align: center;
}
.listItems li:hover{
    background-color : rgb(4, 59, 91);
}

.lefttele{
    margin-left : 0 rem;
} 