.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
     top : 3.5rem;
    left : 20rem;
    /* top: 20vh; */
    /* left: calc(50% - 15rem); */

  }
  
  